a.navbar-brand{
  margin-left: 10px;
  padding: 10px;
  background-color: #5493AB;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}


h4{
  color: #5493AB;
  padding: 10px;
}

h3{
  color: white;
  padding: 10px;
}

.img-thumbnail{
  padding:5px;
  margin:5px;
  border: solid black;
}




p{
 color:#5493AB;
 font-size: large;
 padding:10px;
}


body{
  background-color: #CEE3EA;
}

.col-md-12{
  background-color: #5493AB;
  padding-top: 20px;
  padding-bottom:40px;
}

.col-md-8{
  background-color: #5493AB;
  padding-top: 20px;
  padding-bottom:40px;
}


.highlight{
  border: 3px solid black;
}

.navbar{
  padding-top:0px;
  padding-bottom: 0px;
  padding-right:40px;
  background-color:#5493AB;
}

.nav-item.dropdown.show {
  background-color: #5493AB;
}

.dropdown-menu {
  margin: 0;
}


.content {
  padding-top: 50px;
  padding-bottom: 80px;
  overflow: hidden;
}

.content.bg-white {
  margin-top: 15px;
}

@media(max-width:767px){
  .navbar.bg-dark{
      background-color: #5493AB;    
  }

  .navbar-collapse{
      background-color: #5493AB;
  }
  .navbar{
      padding:inherit;
  }
}